//===========================================
	// -Helper Classes start
//===========================================

.text-center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.space{
	padding-left: rem(35);
}
.border-none{
	border-bottom: none!important;
}
//===========================================
	// -Helper Classes end
//===========================================
