//=======================================================
// -Global style start
//=======================================================


// Default style start

html,
body {
  font-family: $font-default;
  font-size: 8px;

  @include mq('sm', min) {
    font-size: 10px;
  }

  @include mq('md', min) {
    font-size: 12px;
  }

  @include mq('lg', min) {
    font-size: 14px;
  }

  @include mq('xl', min) {
    font-size: 16px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 100%;
  max-width: 74.4375rem;
  margin: 0 auto;
}

//=======================================================
// -Global style  end
//=======================================================